<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Trace"
      internalLogFile="nlog-internal.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
    <add assembly="Wirtualnik.Server" />
  </extensions>

  <variable name="logs" value="${configsetting:item=NLogSettings.Path}"/>

  <targets>

    <target xsi:type="Console" name="console" layout="${longdate}|${message}"/>

    <target xsi:type="File" name="tracelogfile" fileName="${logs}/Trace/${shortdate}.log" layout="${longdate}|${machinename}|${aspnet-user-claim:ClaimTypes.NameIdentifier}|${aspnet-TraceIdentifier}|${uppercase:${level}}|${logger}|${message}" />
    <target xsi:type="File" name="debuglogfile" fileName="${logs}/Debug/${shortdate}.log" layout="${longdate}|${machinename}|${aspnet-user-claim:ClaimTypes.NameIdentifier}|${aspnet-TraceIdentifier}|${uppercase:${level}}|${logger}|${message}" />
    <target xsi:type="File" name="infologfile" fileName="${logs}/Info/${shortdate}.log" layout="${longdate}|${machinename}|${aspnet-user-claim:ClaimTypes.NameIdentifier}|${aspnet-TraceIdentifier}|${uppercase:${level}}|${logger}|${message}" />
    <target xsi:type="File" name="warnlogfile" fileName="${logs}/Warn/${shortdate}.log" layout="${longdate}|${machinename}|${aspnet-user-claim:ClaimTypes.NameIdentifier}|${aspnet-TraceIdentifier}|${uppercase:${level}}|${logger}|${message}" />
    <target xsi:type="File" name="errorlogfile" fileName="${logs}/Error/${shortdate}.log"
            layout="${longdate}|${machinename}|${aspnet-TraceIdentifier}|${uppercase:${level}}|${logger}|path: ${mdlc:item=RequestPath}|action: ${aspnet-mvc-action}|${newline}${message}${newline}${newline}${exception:format=ToString}${newline}" />

    <target xsi:type="File" name="api" fileName="${logs}/Api/${shortdate}.log" layout="${longdate}|${machinename}|${aspnet-user-claim:ClaimTypes.NameIdentifier}|${aspnet-TraceIdentifier}|${message}" />

    <target xsi:type="Sentry" name="sentry" dsn="${configsetting:item=NLogSettings.Sentry.dsn}" environment="develop" sendLogEventInfoPropertiesAsTags="true">
      <property name="RequestId" value="${aspnet-TraceIdentifier}" />
      <property name="RequestPath" value="${mdlc:item=RequestPath}" />
    </target>

    <target xsi:type="Null" name="blackhole" />

  </targets>

  <rules>
    
    <logger name="Microsoft.EntityFrameworkCore.Database.Command" level="Info" writeTo="console" enabled="false" />

    <logger name="Microsoft.AspNetCore.DataProtection.*" maxlevel="Warn" writeTo="blackhole" final="true" />
    <logger name="Microsoft.*" maxlevel="Info" writeTo="blackhole" final="true" />

    <logger name="*DbUp*" minlevel="Info" writeTo="blackhole" final="true" />
    <logger name="*ApiLoggingMiddleware*" writeTo="api" final="true" />
    <logger name="*RequestTimeMiddleware*" writeTo="console" final="true" />

    <logger name="*" level="Trace" writeTo="tracelogfile" />
    <logger name="*" level="Debug" writeTo="debuglogfile,console" />
    <logger name="*" level="Info" writeTo="infologfile" />
    <logger name="*" level="Warn" writeTo="warnlogfile" />
    <logger name="*" minlevel="Error" writeTo="${configsetting:item=NLogSettings.Target.Error:default=errorlogfile,console}" />
  </rules>
</nlog>