{
  "App": {
    "Swagger": {
      "Username": "",
      "Password": ""
    }
  },
  "ConnectionStrings": {
    "DefaultDatabase": "host=;port=;database=;user id=;password="
  },

  "Hangfire": {
    "Dashboard": {
      "Username": "",
      "Password": ""
    },
    "Database": {
      "ConnectionString": "host=;port=;database=;user id=;password="
    }
  },

  "NLog": {
    "Sentry": {
      "dsn": ""
    }
  }
}