{
  "SwaggerSettings": {
    "Username": "",
    "Password": ""
  },

  "ConnectionStrings": {
    "DefaultDatabase": "host=;port=;database=;user id=;password="
  },

  "AuthenticationSettings": {
    "FacebookAuthenticationSettings": {
      "AppId": "",
      "AppSecret": ""
    },
    "JwtAuthenticationSettings": {
      "Secret": ""
    },
    "AdminUser": {
      "Email": "",
      "Password": ""
    }
  },

  "HangfireSettings": {
    "Dashboard": {
      "Username": "",
      "Password": ""
    },
    "Database": {
      "ConnectionString": "host=;port=;database=;user id=;password="
    }
  },
  "NLogSettings": {
    "Sentry": {
      "dsn": ""
    }
  }
}
