{
  "App": {
    "Swagger": {
      "Username": "",
      "Password": ""
    }
  },
  "AppInsights": {
    "InstrumentationKey": ""
  },
  "ConnectionStrings": {
    "DefaultDatabase": "host=;port=;database=;user id=;password="
  },
  "Redis": {
    "ConnectionString": ""
  },
  "BackgroundServices": {
    "Settings": {
      "Hangfire": {
        "Dashboard": {
          "Username": "",
          "Password": ""
        }
      }
    }
  },
  "NLog": {
    "Sentry": {
      "dsn": ""
    },
    "Elasticsearch": {
      "Username": "",
      "Password": ""
    }
  },
  "Tokens": {
    "Issuer": "",
    "Key": ""
  },
  "Mail": {
    "Username": "",
    "Password": ""
  }
}
