//global styles
*,
*::after,
*::before {
  box-sizing: border-box;
}

//scroll styles

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--ltgray);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--white);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray3);
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--background);
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

#__nuxt,
#__layout,
.app {
  min-height: 100vh;
}

.container {
  width: 100%;
  min-width: 300px;
  max-width: 1280px;
  margin: 0 auto;
  overflow-x: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

//controls styles

.btn-flat {
  color: var(--black);
  font-size: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50%;
  transition: 0.1s ease-out;
  overflow: hidden;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  background-color: var(--transparent);
  box-shadow: var(--shadow10);
  border: 1px solid var(--grey2);
}

.btn-flat:hover {
  background-color: var(--semitransparent);
}

.btn-flat:active {
  filter: brightness(0.90);
}


.btn-circle {
  
  width: 41px;
  border-radius: 100%;
  background-color: var(--white);
  padding: 8px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  color: var(--black);
  border: 1px solid var(--gray1);
  margin: 5px 0;
  transition: all 0.15s ease-out;
}

.btn-green {
  &:hover {
    color: green;
    border: 1px solid rgba(125, 226, 157, 0.4);
  }
}

.btn-light {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  background-color: var(--white);
  padding: 5px 10px;
  border-radius: 15px;
  border: 0;
  color: var(--black);
  transition: all 0.15s ease-out;
  margin: 2px;
  cursor: pointer;
  &:hover {
    box-shadow: var(--shadow20);
    filter: var(--focus);
  }
}

.btn-miniprice {
  font-weight: 400;
  font-size: 12px;
  color: var(--gray6);
  border: 0;
  width: 57px;
  height: 48px;
  transition: 0.1s ease-out;
  background-color: var(--transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & a {
    text-decoration: none !important;
  }
  & img {
    max-height: 16px;
    margin-bottom: 0.2rem;
  }
  &:not(:last-child) {
    border-right: 1px solid var(--gray2);
  }
}

.page-header__extras {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}

.product-card__card-image img,
.week-best__image img {
  display: block;
  max-width: 95%;
  max-height: 210px;
  margin: 0 auto;
  object-fit: cover;
  transition: all 0.2s ease-out;
}

// reusable styles
.quick-filters {
  color: var(--gray4);
  text-align: center;
  background-color: var(--ltgray);
  border-radius: 15px;
  padding: 10px 0;
}

:root {
  --white: #ffffff;
  --transparent: #ffffff00;
  --semitransparent: #ffffff82;
  --semitransparent3: #ffffffdb;
  --semitransparent2: #2d333cc7;
  --grey1: #f3f3f3;
  --grey2: #efefef;
  --grey3: #d8d8d8;
  --grey4: #929292;
  --grey6: #313131;
  --black: #000000;
  --ltgrey: #efefef;
  --ltblue: #8fa8b9;
  --ltorange: #ffc97e4d;
  --blue: #1e90ff;
  --red: #e22c2c;
  --ltred: #e22c2c;
  --orange: #f5af39;
  --darkerorange: #e39630;
  --green: #37ca22;
  --gloworange: 0px 2px 10px 0px rgba(214, 152, 46, 0.4);
  --glowgreen: 0px 2px 10px 0px rgba(0, 255, 0, 0.5);
  --ltgreen: #8fa8b9;
  --shadow10: 0px 5px 10px 0px rgba(0, 0, 0, 0.05);
  --shadow20: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  --shadowcard: 0px 12px 16px 0px rgba(0, 0, 0, 0.06);
  --shadowcardreverse: 0px -16px 16px 0px rgba(0, 0, 0, 0.06);
  --shadowinset: inset 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
  --active: brightness(85%);
  --focus: brightness(95%);
  --green: #37ca22;
}

[data-theme='dark'] {
  --background: #191919;
  --white: #232323;
  --transparent: #19191900;
  --semitransparent: #ffffff0a;
  --semitransparent3: #101010bf;
  --grey1: #292929;
  --grey2: #484848;
  --grey3: #5a5a5a;
  --grey4: #848484;
  --grey6: #b5b5b5;
  --black: #f1f1f1;
  --blue: #1e90ff;
  --red: #e22c2c;
  --ltgrey: #151515;
  --ltblue: #7d8e9a;
  --shadow20: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
  --shadowcard: 0px 12px 16px 0px rgba(0, 0, 0, 0.06);
  --shadowinset: inset 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
  --active: brightness(80%);
  --focus: brightness(90%);
}
