//global styles
*,
*::after,
*::before {
  box-sizing: border-box;
}

//scroll styles

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--ltgray);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--white);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray3);
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--background);
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

#__nuxt,
#__layout,
.app {
  min-height: 100vh;
}

.container {
  width: 100%;
  min-width: 300px;
  max-width: 1280px;
  margin: 0 auto;
  overflow-x: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

//controls styles

.btn-flat {
  background-color: var(--white);
  color: var(--black);
  font-size: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50%;
  transition: 0.15s ease-out;
  overflow: hidden;
  margin-left: 8px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.btn-circle {
  width: 41px;
  border-radius: 100%;
  background-color: var(--white);
  padding: 8px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  color: var(--black);
  border: 1px solid var(--gray1);
  margin: 5px 0;
  transition: all 0.15s ease-out;
}

.btn-green {
  &:hover {
    color: green;
    border: 1px solid rgba(125, 226, 157, 0.4);
  }
}

.btn-light {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  background-color: var(--white);
  padding: 5px 10px;
  border-radius: 15px;
  border: 0;
  color: var(--black);
  transition: all 0.15s ease-out;
  margin: 2px;
  cursor: pointer;
  &:hover {
    box-shadow: var(--shadow20);
    filter: var(--focus);
  }
}

.btn-miniprice {
  font-weight: 400;
  font-size: 12px;
  color: var(--gray6);
  border: 0;
  width: 57px;
  height: 48px;
  transition: 0.1s ease-out;
  background-color: var(--transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & a {
    text-decoration: none !important;
  }
  & img {
    max-height: 16px;
    margin-bottom: 0.2rem;
  }
  &:not(:last-child) {
    border-right: 1px solid var(--gray2);
  }
}

.page-header__extras {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}

.product-card__card-image img,
.week-best__image img {
  display: block;
  max-width: 95%;
  max-height: 210px;
  margin: 0 auto;
  object-fit: cover;
  transition: all 0.2s ease-out;
}

// reusable styles
.quick-filters {
  color: var(--gray4);
  text-align: center;
  background-color: var(--ltgray);
  border-radius: 15px;
  padding: 10px 0;
}
