@font-face {
  font-family: 'icomoon';
  src:
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-microphone:before {
  content: "\e90b";
}
.icon-headphones:before {
  content: "\e90c";
}
.icon-laptop:before {
  content: "\e90d";
}
.icon-monitor:before {
  content: "\e90f";
}
.icon-keyboard:before {
  content: "\e911";
}
.icon-mouse:before {
  content: "\e912";
}
.icon-intel:before {
  content: "\e90e";
  font-size: 28px;
}
.icon-nvidia:before {
  content: "\e90a";
  color: #76b900;
  font-size: 28px;
}
.icon-amd:before {
  content: "\e910";
  font-size: 28px;
}
.icon-summary:before {
  content: "\e909";
  font-size: 28px;
}
.icon-cooler:before {
  content: "\e900";
  font-size: 28px;
}
.icon-cpu:before {
  content: "\e901";
  font-size: 28px;
}
.icon-gpu:before {
  content: "\e902";
  font-size: 28px;
}
.icon-hdd:before {
  content: "\e903";
  font-size: 28px;
}
.icon-motherboard:before {
  content: "\e904";
  font-size: 28px;
}
.icon-psu:before {
  content: "\e905";
  font-size: 28px;
}
.icon-ram:before {
  content: "\e906";
  font-size: 28px;
}
.icon-ssd:before {
  content: "\e907";
  font-size: 28px;
}
.icon-case:before {
  content: "\e908";
  font-size: 28px;
}
